# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb

# Django
db.sqlite3
/static/
media/
*.log

# Environnements
.env
venv/
env/
*.env

# IDEs
.vscode/
.idea/
*.swp

# Docker
*.pid
*.dbdata/
*.log
*~ 

# Mac
.DS_Store

# Byte-compiled / cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Migrations
*/migrations/__pycache__/
*/migrations/*.pyc
